
<nav>
  <% if(user) { %>
    <div class="navbar">
      <h1 id="nav-header">Hike!</h1>
      <div class="nav-links">
        <a class="authlink" href="/users/<%=user._id%>/hikes">Your hikes</a>
        <a class="authlink" href="/users/<%=user._id%>/hikes/all">All hikes</a>
        <a class="authlink" href="/auth/sign-out">Sign Out</a>
      </div>
    </div>
  <% } else { %>
    <div class="navbar">
      <h1 id="nav-header">Hike!</h1>
      <div class="nav-links">
        <a class="authlink" href="/auth/sign-in">Sign In</a>
        <a class="authlink" href="/auth/sign-up">Sign Up</a>
      </div>
    </div>
  <% } %>
</nav>